<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Style.css">
    <link rel="stylesheet" href="/Styles/Responsive.css">
    <link rel="shortcut icon" href="images/favicon.webp" type="image/x-icon">
    <title><%= title %></title>
</head>
<body>
    <aside>
        <div class="container-1">
            <div class="my-info">
                <div class="profile-photo">
                    <figure>
                        <img src="<%= myInfo.photo.src %>" alt="<%= myInfo.photo.alt %>">
                    </figure>
                </div>
                <div class="info-and-contact">
                    <div class="about-me">
                        <h1><%= myInfo.name%></h1>
                        <p><%= `${myInfo.age.pt}, ${myInfo.city}, ${myInfo.state}, ${myInfo.country.pt}`%></p>
                    </div>
                    <div class="contact-me">
                        <div class="email">
                            <a href="<%= myInfo.contact.email.href %>" target="_blank"><img src="<%= myInfo.contact.email.src %>" alt="gmail"></a>
                        </div>
                        <div class="whatsapp">
                            <a href="<%= myInfo.contact.whatsapp.href %>" target="_blank"><img src="<%= myInfo.contact.whatsapp.src %>" alt="WhatsApp"></a>
                        </div>
                        <div class="instagram">
                            <a href="<%= myInfo.contact.instagram.href %>" target="_blank"><img src="<%= myInfo.contact.instagram.src %>" alt="Instagram"></a>
                        </div>
                        <div class="github">
                            <a href="<%= myInfo.contact.github.href %>" target="_blank"><img src="<%= myInfo.contact.github.src %>" alt="Github"></a>
                        </div>
                        <div class="facebook">
                            <a href="<%= myInfo.contact.facebook.href %>" target="_blank"><img src="<%= myInfo.contact.facebook.src %>" alt="Facebook"></a>
                        </div>
                        <div class="linkedin">
                            <a href="<%= myInfo.contact.linkedin.href %>" target="_blank"><img src="<%= myInfo.contact.linkedin.src %>" alt="LinkedIn"></a>
                        </div>
                        <div class="twitter">
                            <a href="<%= myInfo.contact.twitter.href %>" target="_blank"><img src="<%= myInfo.contact.twitter.src %>" alt="Twitter"></a>
                        </div>
                    </div>
                    <div class="occupation-area">
                        <h1>Área de atuação/Occupation area</h1>
                        <p><%= myInfo.job %></p>
                        <p><%= myInfo.technologies %></p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <main>
        <section>
            <div class="container-2">
                <div class="title-container">
                    <div class="title">
                        <h1>Meu portfólio/My portfolio</h1>
                        <hr>
                        <p>Todos os meus projetos desenvolvidos ou em desenvolvimento/All my projects developed or in development</p>
                    </div>
                </div>                
                <div class="projects-container">
                    <% for (let i = 0; i < allProject.length; i++) {%>
                        <div class="project">
                            <div class="project-image">
                                <figure>
                                    <img src="<%= allProject[i].photo.src %>" alt="<%= allProject[i].photo.alt %>">
                                </figure>
                            </div>
                            <div class="project-description">
                                <div class="project-name">
                                    <p><%= allProject[i].name %></p>
                                </div>
                                <div class="see-more">
                                    <a href="/projects/<%= allProject[i].id %>">Ver Mais</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("../layouts/footer.ejs") %>
</body>
</html>