<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/project/Style.css">
    <link rel="shortcut icon" href="/icons/portfolio 2.svg" type="image/x-icon">
    <title><%= title %></title>
</head>
<body>
    <main>
        <% if(project) {%>
            <section class="container-1">
                <div class="project-name">
                    <h1><%= project.name %></h1>
                </div>
                <div class="project-video">
                    <video src=""></video>
                </div>
                <div class="project-desc">
                    <p><%= project.desc %></p>
                </div>
            </section>
            <section class="container-2">
                <div class="used-techs">
                    <h1>Tecnologias e Ferramentas Utilizadas:</h1>
                    <div class="tech-images">
                        <% for (let tech in project.techs) {%>
                            <div class="<%= project.techs[tech].name %>">
                                <figure>
                                    <img src="<%= project.techs[tech].src %>" alt="<%= project.techs[tech].alt %>">
                                </figure>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="project-links">
                    <h1>Links do Projeto:</h1>
                    <div class="project-buttons">
                        <a href="<%= project.links.site %>" target="_blank">
                            <div class="site">
                                <figure class="site-icon">
                                    <svg>
                                        <image href="/icons/site.svg"/>
                                    </svg>
                                </figure>
                                <p>Acessar Projeto</p>
                            </div>
                        </a>
                        <a href="<%= project.links.repositorio %>" target="_blank">
                            <div class="github">
                                <figure class="github-icon">
                                    <svg>
                                        <image href="/icons/github.svg"/>
                                    </svg>
                                </figure>
                                <p>Acessar Repositório</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="container-3">
                <div class="new-releases">
                    <h1>Novos Lançamentos:</h1>
                    <ul>
                        <% for(let update in project.updates) {%>
                            <li><%= project.updates [update] %></li>
                        <% } %>
                    </ul>
                </div>
            </section>
        <% } else { %>
            <%- include("../layouts/status 404.ejs") %>
        <% } %>
    </main>
    <footer>
        <%- include('../layouts/footer.ejs') %>
    </footer>
</body>
</html>